.figure {
  float : right ;
  /* clear : both ; */
  width : 66% ;
  background: white ;
  padding : 2px ;
  resize: both ;
   overflow: hidden;
   direction: rtl ;
   z-index: -1 ;
}
.figure img  {
  clear : both ;
  text-align : center ;
  /* height : 240px ; */
  /* width : 320px ; */
  width: 100% ;
}
.video  {
  float : right ;
  /* clear : right ; */
  border-style : none ;
  border-color : black ;
}
video  {
  padding : 1mm ;
  padding-bottom : 0mm ;
  clear : both ;
  height : 240px ;
  width : 320px ;
}
